.table-renderer table {
    border-collapse:collapse;
    color:#555;
    width:100%;
    margin:0 0 0 0px;
    font-size:16px;
}
.table-renderer table, th, td {
    border:1px solid #CCCCCC;
    color:#555;
    text-align: left;
}
.table-renderer td, th {
    padding:8px;
}
.table-renderer thead th {
    text-align:center;
    background:#eeeeee;
    color:#666666;
    cursor: default;
}
.table-renderer tfoot td {
    background:#fefefe;
    color:#666666;
    cursor: default;
}
.table-renderer tr:hover {
    background-color: #DDDDDD;
}
.table-renderer tr {
    cursor: pointer;
}
.table-renderer tr:last-child {
    font-size:18px;
    font-weight: bold;
}
.cost{
    background-color:lightpink;
}
.sales {
    background-color:lightblue;
}
.money{
    background-color:lightgoldenrodyellow;
}
.container{
    margin-top: 50px;
}